# IIFE wrapper
snippet iife
	(function() {
	
		${1}
	
	})();
# jQuery IIFE wrapper
snippet jqiife
	(function($) {
	
		${1}
	
	})(jQuery);
# test for null
snippet testexist
	if (typeof ${1:variable} !== "undefined" && $1 !== null) {
		${2}
	}
# console.log
snippet cl
	console.log(${1});
