[submodule "scripts/vim-update-bundles"]
	path = scripts/vim-update-bundles
	url = http://github.com/bronson/vim-update-bundles.git
[submodule "dotfiles/.vim/autoload"]
	path = dotfiles/.vim/autoload
	url = http://github.com/paulnicholson/vim-pathogen.git
